* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 8px 250px 50px;
}

.hero-section-container {
    display: block;
}

.header-container {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.hero-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    width: 20ch;
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    padding-top: 0.5em;
}

button {
    padding: 0.5em;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
} */

.hero-section {
    background-color: #1F2937;
}

.header, .hero-container {
    width: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: block;
}

.hero-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    width: 20ch;
    color: #F9FAF8;
    font-size: 2rem;
    font-weight: 900;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button-container {
    padding-top: 0.5em;
}

button {
    padding: 0.5em;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

img {
    width: 20%;
    height: auto;
    border: 2px solid white;
    border-radius: 0.5em;
    position: relative;
}