* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, .hero-section {
    background-color: #1F2937;
}

.header, .hero-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container {
    display: block;
}

.hero-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #E5E7EB;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column; /* Pagpatungin ang logo at nav */
        gap: 15px;              /* Bigyan ng space sa pagitan nila */
        text-align: center;
    }
    
    ul {
        justify-content: center; /* I-center ang links */
        padding: 0;
    }
}

.hero-main-text {
    max-width: 20ch;
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.hero-sub-text {
    color: #E5E7EB;
    font-size: 1.125rem;
}

.button-container {
    padding-top: 0.5em;
}

button {
    padding: 0.5em;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.image-container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 2px solid white;
    border-radius: 0.5em;
    object-fit: cover;
}